
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.iphone-14-pro-max-1-pND {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-image: url('REPLACE_IMAGE:8ed0deaf43de9f9226a24148f87ebe3dc47e6033');
  width: 100%;
  background-position: center;
  padding: 5rem 4.5rem 39.2rem 4.5rem;

  .arrow-left-XGd {
    margin: 0rem 131.8rem 8.6rem 0rem;
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .choose-your-view-chef-dqT {
    max-width: 29.7rem;
    color: #aaad1c;
    font-family: Finger Paint, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 11.6rem 7rem;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.40625;
    display: flex;
  }
  .auto-group-u1db-Xfw {
    width: calc(100% - 43.5rem);
    height: 6.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 20.8rem 12.1rem 22.7rem;

    .frame-12-rTK {
      justify-content: center;
      font-size: 2.4rem;
      line-height: 1.875;
      white-space: nowrap;
      height: 100%;
      font-weight: 400;
      margin-right: 24.7rem;
      color: #ffffff;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-family: Finger Paint, 'Source Sans Pro';
      background-color: #524e4e;
      border-radius: 2.5rem;
      width: 33.4rem;
    }
    .frame-13-YL9 {
      white-space: nowrap;
      flex-shrink: 0;
      height: 100%;
      color: #ffffff;
      line-height: 1.875;
      display: flex;
      align-items: center;
      border-radius: 2.5rem;
      font-size: 2.4rem;
      font-family: Finger Paint, 'Source Sans Pro';
      font-weight: 400;
      background-color: #524e4e;
      width: 33.4rem;
      justify-content: center;
    }
  }
  .auto-group-wkzz-2WD {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 20.8rem 0rem 22.7rem;
    width: calc(100% - 43.5rem);

    .frame-14-kh7 {
      height: 6.5rem;
      width: 33.4rem;
      justify-content: center;
      line-height: 1.875;
      white-space: nowrap;
      background-color: #524e4e;
      margin: 0.7rem 24.7rem 0rem 0rem;
      font-size: 2.4rem;
      color: #ffffff;
      font-family: Finger Paint, 'Source Sans Pro';
      border-radius: 2.5rem;
      display: flex;
      font-weight: 400;
      flex-shrink: 0;
      align-items: center;
    }
    .frame-15-RYM {
      width: 33.4rem;
      align-items: center;
      font-weight: 400;
      background-color: #524e4e;
      border-radius: 2.5rem;
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      line-height: 1.875;
      white-space: nowrap;
      height: 6.5rem;
      color: #ffffff;
      font-family: Finger Paint, 'Source Sans Pro';
    }
  }
}
