
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.iphone-14-pro-max-4-nJD {
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem 4.5rem 14.932rem 3.7rem;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 6rem;
  box-sizing: border-box;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:6182698fe8578f30d275a33184aa98f6ad3ba19f');

  .arrow-left-VCd {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 3.5rem 0.8rem;
  }
  .fine-tune-your-delight-R6H {
    width: 100%;
    max-width: 24.2rem;
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 3.7rem;
    align-items: center;
    line-height: 1.40625;
    color: #aaad1c;
    font-family: Finger Paint, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .auto-group-fqtb-XQD {
    height: 6.5rem;
    flex-shrink: 0;
    margin: 0rem 0rem 1.2rem 2.1rem;
    box-sizing: border-box;
    padding: 0.7rem 0rem 0.7rem 48.2rem;
    width: 84.1rem;

    .frame-10-37f {
      background-color: #524d4d;
      box-sizing: border-box;
      padding: 0 2rem;
      height: 100%;
      display: flex;
      font-weight: 400;
      line-height: 2.2727272727;
      width: 100%;
      font-size: 2.2rem;
      color: #ffffff;
      font-family: Finger Paint, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 0.8rem;
    }
  }
  .auto-group-cxhk-9Ah {
    padding-left: 48.2rem;
    width: 84.1rem;
    height: 12.1rem;
    flex-shrink: 0;
    margin: 0rem 0rem 0.4rem 2.1rem;
    box-sizing: border-box;

    .auto-group-jtgm-feq {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .frame-19-Re1 {
        font-weight: 400;
        line-height: 2.2727272727;
        color: #ffffff;
        font-family: Finger Paint, 'Source Sans Pro';
        background-color: #524d4d;
        margin-bottom: 1.9rem;
        display: flex;
        padding: 0 2rem;
        border-radius: 0.8rem;
        font-size: 2.2rem;
        white-space: nowrap;
        box-sizing: border-box;
        width: 100%;
        flex-shrink: 0;
      }
      .frame-20-vKs {
        background-color: #524d4d;
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding: 0 2rem;
        width: 100%;
        font-size: 2.2rem;
        line-height: 2.2727272727;
        color: #ffffff;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        font-family: Finger Paint, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-gkqy-Dpm {
    margin: 0rem 0rem 2.3rem 2.1rem;
    box-sizing: border-box;
    padding: 1.5rem 0rem 0rem 48.2rem;
    width: 84.1rem;
    height: 6.6rem;
    flex-shrink: 0;

    .frame-21-8Rw {
      font-size: 2.2rem;
      font-weight: 400;
      font-family: Finger Paint, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #524d4d;
      border-radius: 0.8rem;
      width: 100%;
      display: flex;
      height: 100%;
      line-height: 2.2727272727;
      color: #ffffff;
      box-sizing: border-box;
      padding: 0 2rem;
    }
  }
  .frame-22-qr9 {
    color: #ffffff;
    padding: 0 2rem;
    white-space: nowrap;
    background-color: #524d4d;
    flex-shrink: 0;
    box-sizing: border-box;
    width: calc(100% - 99.9rem);
    display: flex;
    font-weight: 400;
    line-height: 2.2727272727;
    border-radius: 0.8rem;
    margin: 0rem 49.6rem 1.9rem 50.3rem;
    font-family: Finger Paint, 'Source Sans Pro';
    font-size: 2.2rem;
  }
  .frame-23-KWR {
    align-items: center;
    background-color: #524d4d;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    width: calc(100% - 99.9rem);
    border-radius: 0.8rem;
    margin: 0rem 49.6rem 2.653rem 50.3rem;
    padding: 0rem 0.933rem 0rem 2rem;

    .picture-pxy {
      margin-right: 22.5333rem;
      display: flex;
      font-weight: 400;
      line-height: 2.2727272727;
      flex-shrink: 0;
      font-size: 2.2rem;
      color: #ffffff;
      font-family: Finger Paint, 'Source Sans Pro';
      white-space: nowrap;
    }
    .photograph-A1F {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.3rem;
      width: 2.1333rem;
      height: 2.1333rem;
    }
  }
  .auto-group-kfxw-gEV {
    width: 100%;
    height: 19.2144rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-35-RSy {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-xfwf-nHX {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 4.379rem 6.249rem 0rem 0rem;
        width: 14.951rem;

        .group-22-uN9 {
          margin: 0rem 0.5rem 2.259rem 0.8rem;
          width: calc(100% - 1.3rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-13-3DT {
            background-color: #d9d9d9;
            flex-shrink: 0;
            margin-right: 2.2006rem;
            width: 1.6504rem;
            height: 1.7881rem;
          }
          .starters-aUH {
            line-height: 2.0454545455;
            color: #ffffff;
            font-family: Finger Paint, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.2rem;
            font-weight: 400;
          }
        }
        .auto-group-xqtq-iKb {
          flex-shrink: 0;
          width: 100%;
          height: 8.0763rem;
        }
      }
      .auto-group-bt6r-4PT {
        width: 14.9867rem;
        height: 14.3141rem;
        flex-shrink: 0;
        margin: 4.865rem 14.313rem 0rem 0rem;
        box-sizing: border-box;
        padding-top: 6.2735rem;

        .auto-group-ecph-a6u {
          width: 100%;
          height: 100%;
        }
      }
      .category-vwT {
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 2.0454545455;
        color: #ffffff;
        font-family: Finger Paint, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-uncz-H1K {
      box-sizing: border-box;
      padding: 12.897rem 0rem 1.218rem 38.4rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .frame-25-oEZ {
        width: 16.1rem;
        white-space: nowrap;
        margin-right: 3.7rem;
        height: 100%;
        text-align: right;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        color: #ffffff;
        font-family: Finger Paint, 'Source Sans Pro';
        justify-content: center;
        background-color: #524d4d;
        font-size: 2.2rem;
        line-height: 2.2727272727;
        align-items: center;
        border-radius: 0.8rem;
      }
      .frame-36-tWu {
        display: flex;
        font-size: 2.2rem;
        justify-content: center;
        background-color: #cd6464;
        border-radius: 0.8rem;
        font-weight: 400;
        align-items: center;
        flex-shrink: 0;
        width: 16.1rem;
        text-align: right;
        line-height: 2.2727272727;
        color: #ffffff;
        height: 100%;
        font-family: Finger Paint, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
