
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.preference-yes-or-no-page-9vZ {
  display: flex;
  background-image: url('REPLACE_IMAGE:3a604e9e842d1e3a0124f51de701885e79012558');
  padding: 34.9rem 54.4rem 41.7rem 54.4rem;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-size: 100% 201.254%;
  box-sizing: border-box;
  width: 100%;

  .your-choices-matter-sLm {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaad1c;
    flex-shrink: 0;
    margin-bottom: 8rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.40625;
    font-family: Finger Paint, 'Source Sans Pro';
    white-space: nowrap;
  }
  .frame-10-nTj {
    margin: 0rem 3.5rem 5.1rem 3.4rem;
    font-weight: 400;
    line-height: 1.875;
    white-space: nowrap;
    background-color: #cd6464;
    font-family: Finger Paint, 'Source Sans Pro';
    width: calc(100% - 6.9rem);
    height: 6.5rem;
    font-size: 2.4rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    flex-shrink: 0;
  }
  .frame-11-f1j {
    width: calc(100% - 6.9rem);
    justify-content: center;
    font-weight: 400;
    background-color: #524e4e;
    margin: 0rem 3.5rem 0rem 3.4rem;
    font-size: 2.4rem;
    font-family: Finger Paint, 'Source Sans Pro';
    flex-shrink: 0;
    border-radius: 2.5rem;
    align-items: center;
    line-height: 1.875;
    color: #ffffff;
    white-space: nowrap;
    height: 6.5rem;
    display: flex;
  }
  .preference-yes-or-no-page-9vZ-bg {
    background-image: url('REPLACE_IMAGE:3a604e9e842d1e3a0124f51de701885e79012558');
    width: 144rem;
    height: 107.2rem;
    position: relative;
  }
}
