
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
  /* position: relative; */
  align-items: center ;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1509358271058-acd22cc93898?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}.iphone-14-pro-max-6-URf {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  overflow: hidden;
}
.iphone-14-pro-max-6-URf .expand-your-culinary-universe-Xeq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.40625;
  color: #d9d9d9;
  font-family: Finger Paint, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 {
  margin-left: 0.8rem;
  width: 88.2rem;
  height: 41.2rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 {
  width: 61.5rem;
  height: 19.2144rem;
  position: absolute;
  left: 16.3rem;
  top: 4.9534rem;
  display: flex;
  align-items: flex-start;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .auto-group-bsnm-VEH {
  margin: 4.379rem 5.349rem 0rem 0rem;
  box-sizing: border-box;
  padding-top: 6.7593rem;
  width: 15.851rem;
  height: 14.8355rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .auto-group-bsnm-VEH .auto-group-caim-okm {
  width: 14.951rem;
  height: 100%;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .auto-group-2mof-A5X {
  margin: 4.865rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding-top: 4.9819rem;
  width: 26.3rem;
  height: 14.3142rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .auto-group-2mof-A5X .auto-group-buss-Uru {
  width: 100%;
  height: 100%;
  position: relative;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .auto-group-2mof-A5X .auto-group-buss-Uru .dishes-Er5 {
  width: 8.9rem;
  height: 4.5rem;
  position: absolute;
  left: 13rem;
  top: 0;
  display: flex;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.9565217391;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .auto-group-2mof-A5X .auto-group-buss-Uru .group-22-MA1 {
  width: 9.7rem;
  height: 4.5rem;
  position: absolute;
  left: 16.6rem;
  top: 4.05rem;
  display: flex;
  align-items: center;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .auto-group-2mof-A5X .auto-group-buss-Uru .group-22-MA1 .rectangle-13-H3f {
  margin: 0.076rem 1.4rem 0rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .auto-group-2mof-A5X .auto-group-buss-Uru .group-22-MA1 .dish-1-bq3 {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-36-AC1 .category-8KB {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .frame-36-sGm {
  width: 16rem;
  height: 5.1rem;
  position: absolute;
  left: 45.2rem;
  top: 32.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #cd6464;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .frame-25-9VB {
  width: 15.9rem;
  height: 5.1rem;
  position: absolute;
  left: 72.3rem;
  top: 32.85rem;
  text-align: right;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .frame-37-1XP {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.3rem;
  height: 5.1rem;
  position: absolute;
  left: 49rem;
  top: 7.7rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-38-VSZ {
  width: 9.7rem;
  height: 4.5rem;
  position: absolute;
  left: 54.3rem;
  top: 22.85rem;
  display: flex;
  align-items: center;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-38-VSZ .rectangle-13-E9F {
  margin: 0.076rem 1.4rem 0rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-38-VSZ .dish-1-9n1 {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-37-6BT {
  width: 9.7rem;
  height: 4.5rem;
  position: absolute;
  left: 70.5rem;
  top: 18.85rem;
  display: flex;
  align-items: center;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-37-6BT .rectangle-13-dSH {
  margin: 0.076rem 1.4rem 0rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-6-URf .auto-group-nhjp-SG1 .group-37-6BT .dish-1-wSy {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
