
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
  align-items: center ;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://img.freepik.com/free-photo/various-vegetables-black-table-with-space-message_1220-616.jpg?w=1060&t=st=1699701785~exp=1699702385~hmac=1ec11bfe3797449c3ac4022037efa79d8d6627815bc2344fd3d317ec67f36b0d');
  
}.filter-page-qWZ {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  overflow: hidden;
  background: fixed;
}
.filter-page-qWZ .refine-your-experience-eD7 {
  margin: 0rem 0.1rem 1.053rem 0rem;
  max-width: 19.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  white-space :nowrap;
  font-weight: 400;
  line-height: 1.5625;
  padding-left: 43%;
  color: #e5e828;
  font-family: Finger Paint, 'Source Sans Pro';
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 {
  margin: 0rem 48.213rem 4.812rem 2.4rem;
  width: calc(100% - 50.6133rem);
  height: 22.5845rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .auto-group-y2i5-RdB {
  margin: 2.697rem 25.1rem 3.938rem 0rem;
  box-sizing: border-box;
  padding: 6.25rem 1.2rem 0rem 1.2rem;
  width: 23.1rem;
  height: calc(100% - 6.6345rem);
  flex-shrink: 0;
}


.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .cuisine-QED {
  margin: 0rem 0rem 2.379rem 2.998rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color:rgb(234, 7, 188);
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo {
  width: 100%;
  height: 15.7057rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw {
  margin-right: 6.249rem;
  width: 14.951rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-22-Asb {
  width: 14.951rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-22-Asb .rectangle-13-7H3 {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-22-Asb .american-e25 {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-26-MhB {
  width: 14.951rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 7.6339rem;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-26-MhB .rectangle-13-HKw {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-26-MhB .american-DzH {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-28-APj {
  width: 14.951rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 11.2057rem;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-28-APj .rectangle-13-Jkq {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-28-APj .american-3yK {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-24-oBo {
  width: 14.951rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 3.7rem;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-24-oBo .rectangle-13-YfB {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ogpt-Eyw .group-24-oBo .american-HMs {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd {
  margin-bottom: 0.0356rem;
  width: 14.9867rem;
  height: calc(100% - 0.0356rem);
  position: relative;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-23-m29 {
  width: 14.951rem;
  height: 4.5rem;
  position: absolute;
  left: 0.0357rem;
  top: 0;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-23-m29 .rectangle-13-u8M {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-23-m29 .american-e5w {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-27-yP7 {
  width: 14.951rem;
  height: 4.5rem;
  position: absolute;
  left: 0.0357rem;
  top: 7.6339rem;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-27-yP7 .rectangle-13-7ER {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-27-yP7 .american-TZB {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-29-cS5 {
  width: 14.951rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 11.1701rem;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-29-cS5 .rectangle-13-kYH {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-29-cS5 .american-tuP {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-25-3XP {
  width: 14.951rem;
  height: 4.5rem;
  position: absolute;
  left: 0.0357rem;
  top: 3.7rem;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-25-3XP .rectangle-13-P5T {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-nkhs-X21 .group-34-fGd .auto-group-nxtz-Hoo .auto-group-ekmj-dgd .group-25-3XP .american-vbB {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-FtM {
  margin: 0rem 58.383rem 2.45rem 62.017rem;
  width: calc(100% - 120.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-FtM .auto-group-19z3-z5F {
  width: 100%;
  height: 8.85rem;
  position: relative;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-FtM .auto-group-19z3-z5F .ratings-8hF {
  width: 11.6rem;
  height: 4.5rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.filter-page-qWZ .frame-34-FtM .auto-group-19z3-z5F .group-30-33X {
  width: 14.6rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 4.35rem;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .frame-34-FtM .auto-group-19z3-z5F .group-30-33X .rectangle-13-ySy {
  margin-right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-FtM .auto-group-19z3-z5F .group-30-33X .american-7ZB {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-FtM .group-31-FfP {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-FtM .group-31-FfP .rectangle-13-cF3 {
  margin-right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-FtM .group-31-FfP .american-xZo {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-W5X {
  margin: 0rem 57.183rem 2.55rem 62.017rem;
  width: calc(100% - 119.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-W5X .auto-group-vodb-SE5 {
  width: 100%;
  height: 8.85rem;
  position: relative;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-W5X .auto-group-vodb-SE5 .explore-noj {
  width: 10.7rem;
  height: 4.5rem;
  position: absolute;
  left: 2.55rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color:rgb(234, 7, 188);
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.filter-page-qWZ .frame-34-W5X .auto-group-vodb-SE5 .group-32-JXB {
  width: 15.8rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 4.35rem;
  display: flex;
  align-items: center;
}
.filter-page-qWZ .frame-34-W5X .auto-group-vodb-SE5 .group-32-JXB .rectangle-13-StH {
  margin-right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-W5X .auto-group-vodb-SE5 .group-32-JXB .favourites-nx9 {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-W5X .group-33-LTs {
  margin: 0rem 7.016rem 0rem 0.016rem;
  width: calc(100% - 7.0314rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-W5X .group-33-LTs .rectangle-13-fm3 {
  margin-right: 1.9686rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.filter-page-qWZ .frame-34-W5X .group-33-LTs .new-ad7 {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.0454545455;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-ltub-iUR {
  margin: 0rem 49.7rem 0rem 53.1rem;
  width: calc(100% - 102.8rem);
  height: 5.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-ltub-iUR .frame-35-ESm {
  margin-right: 5.8rem;
  width: 13.2rem;
  height: 100%;
  text-align: right;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #524d4d;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.filter-page-qWZ .auto-group-ltub-iUR .frame-10-iMw {
  width: 13.2rem;
  height: 100%;
  text-align: right;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #cd6464;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
