
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: auto;
  background-size:cover;

  background-repeat:no-repeat;
  background: fixed;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1601991172716-2160919cb725?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  
}.home-page-mwX {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  
}
/* .home-page-mwX .group-48-XpD {
  margin: 0rem 49.533rem 12.761rem 0rem;
  width: 21.3669rem;
  height: 25.5392rem;
  position: relative;
  flex-shrink: 0;
} */

/* .home-page-mwX .food-with-love-kD7 {
  margin-bottom: 15.5rem;
  display: flex;
  padding-top: 200px;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #d5ce20;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
} */

.food-with-love-kD7 {
  margin-bottom: 15.5rem;
  display: flex;
  padding-top: 200px;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #d5ce20;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-mwX .group-47-oSH {
  margin: 0rem 25.95rem 6.6rem 26.45rem;
  width: calc(100% - 52.4rem);
  height: 8rem;
  
  position: relative;
  border-radius: 2.5rem;
  flex-shrink: 0;
}

.home-page-mwX .group-47-oSH .getting-started-FJH {
  width: 26.3rem;
  height: 8rem;
  position: absolute;
  left: 1.25rem;
  top: 0;
  display: flex;
  align-items: center;
 
  
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 2.5;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.home-page-mwX .group-47-oSH button {
  font-size: 3rem;
  background-color: orangered;
  border-radius: 20px;
  padding: 10px 10px;
  color: aliceblue;
  font-family: Finger Paint, 'Source Sans Pro';
  margin-left: 50%;
}
.home-page-mwX .group-1-JnM {
  margin-left: 35.7rem;
  width: 33.4rem;
  height: 33.3rem;
  
  position: relative;
  flex-shrink: 0;
}

