
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
  align-items: center ;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/kitchen-list-page-bg.png');
}.kitchen-list-page-Eky {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  overflow: hidden;
}
.kitchen-list-page-Eky .auto-group-rhgd-yTf {
  width: 79.9rem;
  height: 10.75rem;
  position: absolute;
  left: 4.5rem;
  top: 5rem;
  display: flex;
  align-items: flex-start;
}
.kitchen-list-page-Eky .auto-group-rhgd-yTf .whats-your-heart-set-on-EuP {
  margin-top: 1.75rem;
  max-width: 30.4rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  padding-left: 67%;
  line-height: 1.40625;
  color: #aaad1c;
  font-family: Finger Paint, 'Source Sans Pro';
  flex-shrink: 0;
}
.kitchen-list-page-Eky .frame-10-KR3 {
  box-sizing: border-box;
  padding: 0rem 1.4rem 0rem 2rem;
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 25.4rem;
  display: flex;
  align-items: center;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.kitchen-list-page-Eky .frame-10-KR3 .search-cuw {
  margin-right: 22.2rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .frame-10-KR3 .search-9Q5 {
  margin-top: 0.1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .frame-1-GzV {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 19.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.kitchen-list-page-Eky .auto-group-e1t7-JRP {
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 33.85rem;
  display: flex;
  align-items: center;
}
.kitchen-list-page-Eky .auto-group-e1t7-JRP .frame-10-S1o {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 0rem 1.533rem 0rem 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #524d4d;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-e1t7-JRP .frame-10-S1o .filter-koB {
  margin-right: 4.8333rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-e1t7-JRP .frame-10-S1o .adjustments-VEy {
  margin-bottom: 0rem;
  width: 2.1333rem;
  height: 2.1333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-e1t7-JRP .frame-11-omT {
  box-sizing: border-box;
  padding: 0rem 1.533rem 0rem 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #524d4d;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-e1t7-JRP .frame-11-omT .sort-by-LWV {
  margin-right: 2.3333rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-e1t7-JRP .frame-11-omT .auto-group-fuhb-FdT {
  margin-bottom: 0rem;
  width: 2.1333rem;
  height: 2.1333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .group-13-MgV {
  box-sizing: border-box;
  padding: 0.6rem 0.7rem 0.9rem 1.8rem;
  width: 35.9rem;
  height: 14rem;
  position: absolute;
  left: 54rem;
  top: 41.3rem;
  display: flex;
  align-items: center;
  background-color: #888484;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-5h5b-rdF {
  margin: 0rem 0.1rem 0.7rem 0rem;
  width: 20.1rem;
  height: 11.8rem;
  position: relative;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-5h5b-rdF .kitchen-1-name-aJM {
  width: 20.1rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-5h5b-rdF .speciality-5ku {
  width: 10.1rem;
  height: 5rem;
  position: absolute;
  left: 0.2rem;
  top: 3.2rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 2.6315789474;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-5h5b-rdF .star-1-Q2V {
  width: 2.1rem;
  height: 2.4rem;
  position: absolute;
  left: 0.4rem;
  top: 8.1rem;
  object-fit: contain;
  vertical-align: top;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-5h5b-rdF .item-45-8jB {
  width: 2.6rem;
  height: 5rem;
  position: absolute;
  left: 3.1rem;
  top: 6.8rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7777777778;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-5h5b-rdF .location-qtV {
  width: 8.2rem;
  height: 5rem;
  position: absolute;
  left: 7.4rem;
  top: 6.8rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7777777778;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-tzkh-xCR {
  margin-top: 0.3rem;
  width: 13.1995rem;
  height: 12.2rem;
  position: relative;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-tzkh-xCR .when-traditional-world-fuses-with-modern-elegance-theta-one-designs-the-architects-diary-1-gu7 {
  width: 12.2rem;
  height: 12.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
}
.kitchen-list-page-Eky .group-13-MgV .auto-group-tzkh-xCR .player-heart-z97 {
  width: 2.4012rem;
  height: 2.1349rem;
  position: absolute;
  left: 10.7983rem;
  top: 0.2318rem;
  object-fit: contain;
  vertical-align: top;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm {
  width: 35.9rem;
  height: 14rem;
  position: absolute;
  left: 54rem;
  top: 56.8rem;
  background-color: #888484;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .speciality-nqf {
  width: 10.1rem;
  height: 5rem;
  position: absolute;
  left: 1.6rem;
  top: 4.7rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 2.6315789474;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .player-heart-VVB {
  width: 2.4012rem;
  height: 2.1349rem;
  position: absolute;
  left: 32.3983rem;
  top: 2.0318rem;
  object-fit: contain;
  vertical-align: top;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .group-49-2V7 {
  width: 32.4rem;
  height: 12.5rem;
  position: absolute;
  left: 1.4rem;
  top: 1.5rem;
  display: flex;
  align-items: flex-start;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .group-49-2V7 .auto-group-mikq-YyF {
  margin-right: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .group-49-2V7 .auto-group-mikq-YyF .kitchen-2-name-JhX {
  margin-bottom: 1.8rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .group-49-2V7 .auto-group-mikq-YyF .auto-group-xggz-ciD {
  margin-left: 0.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .group-49-2V7 .auto-group-mikq-YyF .auto-group-xggz-ciD .star-1-NBb {
  margin-right: 0.6rem;
  width: 2.1rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .group-49-2V7 .auto-group-mikq-YyF .auto-group-xggz-ciD .item-45-VX7 {
  margin-right: 1.7rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7777777778;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .group-49-2V7 .auto-group-mikq-YyF .auto-group-xggz-ciD .location-tSm {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7777777778;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .auto-group-9qs9-VLm .group-49-2V7 .when-traditional-world-fuses-with-modern-elegance-theta-one-designs-the-architects-diary-1-Rhb {
  margin-top: 0.3rem;
  width: 12.2rem;
  height: 12.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .group-13-hf7 {
  box-sizing: border-box;
  padding: 0.6rem 0.7rem 0.9rem 1.8rem;
  width: 35.9rem;
  height: 14rem;
  position: absolute;
  left: 54rem;
  top: 72.3rem;
  display: flex;
  align-items: center;
  background-color: #888484;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-vw6m-bkV {
  margin-bottom: 0.7rem;
  width: 20.2rem;
  height: 11.8rem;
  position: relative;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-vw6m-bkV .kitchen-3-name-w3f {
  width: 20.2rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-vw6m-bkV .speciality-rRX {
  width: 10.1rem;
  height: 5rem;
  position: absolute;
  left: 0.2rem;
  top: 3.2rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 2.6315789474;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-vw6m-bkV .star-1-m2h {
  width: 2.1rem;
  height: 2.4rem;
  position: absolute;
  left: 0.4rem;
  top: 8.1rem;
  object-fit: contain;
  vertical-align: top;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-vw6m-bkV .item-45-JHX {
  width: 2.6rem;
  height: 5rem;
  position: absolute;
  left: 3.1rem;
  top: 6.8rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7777777778;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-vw6m-bkV .location-1Sq {
  width: 8.2rem;
  height: 5rem;
  position: absolute;
  left: 7.4rem;
  top: 6.8rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7777777778;
  color: #000000;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-hdrs-7Vs {
  margin-top: 0.3rem;
  width: 13.1995rem;
  height: 12.2rem;
  position: relative;
  flex-shrink: 0;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-hdrs-7Vs .when-traditional-world-fuses-with-modern-elegance-theta-one-designs-the-architects-diary-1-TZj {
  width: 12.2rem;
  height: 12.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
}
.kitchen-list-page-Eky .group-13-hf7 .auto-group-hdrs-7Vs .player-heart-zCH {
  width: 2.4012rem;
  height: 2.1349rem;
  position: absolute;
  left: 10.7983rem;
  top: 0.2318rem;
  object-fit: contain;
  vertical-align: top;
}
.kitchen-list-page-Eky .inp-fields{
  padding-left: 36% ;
  padding-top: 10%;
  font-family: Finger Paint, 'Source Sans Pro';
}
.kitchen-list-page-Eky .inp-fields input{
  margin: 10px;
  font-family: Finger Paint, 'Source Sans Pro';
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 300px;
  background-color: #524d4d;
  color: aliceblue;
  font-size: 1.5em;
}
