
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
  align-items: center ;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: fixed;
  background-image: url('https://images.unsplash.com/photo-1589301760014-d929f3979dbc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}.login-page-main {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  overflow: hidden;
  
}
.login-page-main .login-to-your-account-Wzm {
  width: 36.8rem;
  height: 5rem;
  position: absolute;
  padding-left: 36%;
  top: 21rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #d0e73c;
  font-family: Finger Paint, 'Source Sans Pro';
}
.login-page-main .auto-group-zdj9-nSV {
  box-sizing: border-box;
  padding: 2.7rem 0rem 0rem 49.4rem;
  width: 85.3rem;
  height: 7.8rem;
  position: absolute;
  left: 4.6rem;
  top: 26.8rem;
}
.login-page-main .auto-group-zdj9-nSV .frame-1-syj {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.login-page-main .frame-6-nL1 {
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 42.35rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #cd6464;
  border-radius: 0.8rem;
}
.login-page-main .frame-2-f8u {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 36rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 35.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.login-page-main .group-48-YCh {
  width: 17.2393rem;
  height: 11.9rem;
  position: absolute;
  left: 63.4rem;
  top: 56.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-page-main .group-48-YCh .frame-1-aQH {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-page-main .group-48-YCh .frame-1-aQH .keeping-up-with-google-the-one-blog-to-rule-them-all-1-wEq {
  margin-right: 5rem;
  width: 6.0786rem;
  height: 5.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.login-page-main .group-48-YCh .frame-1-aQH .microsoft-outlook-logo-svg-free-download-brandlogosnet-1-qb7 {
  width: 6.1607rem;
  height: 5.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.login-page-main .dont-have-an-account-signup {
  width: 33.4rem;
  height: 5rem;
  position:fixed;
  left: 60.8rem;
  top: 49.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.auto-group-zdj9-nSV .inp-fields{
  padding-left: 20% ;
  font-family: Finger Paint, 'Source Sans Pro';
}
.auto-group-zdj9-nSV .inp-fields input{
  margin: 10px;
  font-family: Finger Paint, 'Source Sans Pro';
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 300px;
  background-color: #524d4d;
  color: aliceblue;
  font-size: 1.5em;
}

.login-page-main .auto-group-zdj9-nSV .login{
  padding: 10px;
  padding-left: 30%;
  padding-right: 30%;
  margin: 10px;
  align-items: center;
  width: auto;
  font-size: 2rem;
  color: aliceblue;
  border-radius: 10px;
  font-family: Finger Paint, 'Source Sans Pro';
  background-color: rgb(241, 83, 83);
  border: none;
}