html{
    scroll-behavior: smooth;

}
body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F9E57D;
    color: #000;
    text-align: center;
    padding: 1em;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.menu {
    flex: 1;
    margin-right: 20px;
    overflow-y: auto;
    max-height: 70vh;
}

.menu-category {
    margin-bottom: 20px;
}

.menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.menu-item h4 {
    margin-top: 0;
}

.menu-item p {
    margin-bottom: 10px;
}

.menu-item span {
    display: block;
    font-weight: bold;
}

.selected-items {
    flex: 1;
    position: sticky;
    top: 0;
}

.selected-items h2 {
    color: #333;
}

.selected-items ul {
    list-style-type: none;
    padding: 0;
}

.selected-items li {
    margin-bottom: 5px;
}

footer {
    background-color: #F9E57D;
    color: #000;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
