
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-page-Quw {
  box-sizing: border-box;
  padding: 5rem 4.6rem 5rem 4.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-size: 100% 210.728%;
  background-image: url('../assets/menu-page-bg.png');
  border-radius: 6rem;
}
.menu-page-Quw .auto-group-4pbt-vtH {
  margin: 0rem 18.262rem 19.669rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-4pbt-vtH .arrow-left-s2q {
  margin-bottom: 35.8439rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-4pbt-vtH .auto-group-2ev5-Cau {
  margin-left: 0.4rem;
  width: 30.8345rem;
  height: 33.6875rem;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH {
  margin: 0rem 13.7rem 12.3rem 0rem;
  width: 35.6rem;
  height: 77.3rem;
  position: relative;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .kitchen-name-2Zw {
  width: 23.1rem;
  height: 4.5rem;
  position: absolute;
  left: 6.4rem;
  top: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.40625;
  color: #aaad1c;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-page-Quw .auto-group-gvvd-XNH .speciality-KJ9 {
  width: 12.7rem;
  height: 5rem;
  position: absolute;
  left: 11.65rem;
  top: 6.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-14-DeR {
  width: 7rem;
  height: 5rem;
  position: absolute;
  left: 5.3rem;
  top: 11.2rem;
  display: flex;
  align-items: center;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-14-DeR .star-2-jcm {
  margin-right: 0.3rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-14-DeR .item-45-Tof {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .location-PBX {
  width: 10.9rem;
  height: 5rem;
  position: absolute;
  left: 19.25rem;
  top: 11.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-page-Quw .auto-group-gvvd-XNH .starters-gAd {
  width: 10.7rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 31.822rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-42-b2h {
  width: 27.6345rem;
  height: 10.8677rem;
  position: absolute;
  left: 2.4rem;
  top: 37.2rem;
  display: flex;
  align-items: flex-start;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-42-b2h .rectangle-9-6VF {
  margin: 0.656rem 1.309rem 0rem 0rem;
  width: 2.1149rem;
  height: 1.3776rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-42-b2h .dish-1-ingredients-quantity-24-1MK {
  margin: 1.268rem 5.109rem 0rem 0rem;
  max-width: 11.7rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-42-b2h .dish-1-ingredients-quantity-24-1MK .dish-1-ingredients-quantity-24-1MK-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
}
.menu-page-Quw .auto-group-gvvd-XNH .group-42-b2h .dish-1-ingredients-quantity-24-1MK .dish-1-ingredients-quantity-24-1MK-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
}
.menu-page-Quw .auto-group-gvvd-XNH .group-42-b2h .ellipse-3-mdK {
  width: 7.4023rem;
  height: 4.9937rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-43-uzR {
  width: 27.6345rem;
  height: 10.8677rem;
  position: absolute;
  left: 2.4rem;
  top: 48.6rem;
  display: flex;
  align-items: flex-start;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-43-uzR .rectangle-9-SzM {
  margin: 0.656rem 1.309rem 0rem 0rem;
  width: 2.1149rem;
  height: 1.3776rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-43-uzR .dish-1-ingredients-quantity-24-n2d {
  margin: 1.268rem 5.109rem 0rem 0rem;
  max-width: 11.7rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-43-uzR .dish-1-ingredients-quantity-24-n2d .dish-1-ingredients-quantity-24-n2d-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
}
.menu-page-Quw .auto-group-gvvd-XNH .group-43-uzR .dish-1-ingredients-quantity-24-n2d .dish-1-ingredients-quantity-24-n2d-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
}
.menu-page-Quw .auto-group-gvvd-XNH .group-43-uzR .ellipse-3-iKb {
  width: 7.4023rem;
  height: 4.9937rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-44-rwb {
  width: 27.6345rem;
  height: 10.8677rem;
  position: absolute;
  left: 2.4rem;
  top: 59.5rem;
  display: flex;
  align-items: flex-start;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-44-rwb .rectangle-9-Pgd {
  margin: 0.656rem 1.309rem 0rem 0rem;
  width: 2.1149rem;
  height: 1.3776rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-44-rwb .dish-1-ingredients-quantity-24-KaH {
  margin: 1.268rem 5.109rem 0rem 0rem;
  max-width: 11.7rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .group-44-rwb .dish-1-ingredients-quantity-24-KaH .dish-1-ingredients-quantity-24-KaH-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
}
.menu-page-Quw .auto-group-gvvd-XNH .group-44-rwb .dish-1-ingredients-quantity-24-KaH .dish-1-ingredients-quantity-24-KaH-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
}
.menu-page-Quw .auto-group-gvvd-XNH .group-44-rwb .ellipse-3-Ubb {
  width: 7.4023rem;
  height: 4.9937rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-page-Quw .auto-group-gvvd-XNH .contact-info-7075550207-dDb {
  width: 31.2rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 15.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.0833333333;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-page-Quw .auto-group-gvvd-XNH .rectangle-10-7eZ {
  width: 11.2rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 21.1rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-page-Quw .auto-group-gvvd-XNH .rectangle-11-dcu {
  width: 11.2rem;
  height: 10.3rem;
  position: absolute;
  left: 12.2rem;
  top: 21.1rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-page-Quw .auto-group-gvvd-XNH .rectangle-12-ZWZ {
  width: 11.2rem;
  height: 10.3rem;
  position: absolute;
  left: 24.4rem;
  top: 21.1rem;
  object-fit: cover;
  vertical-align: top;
}
.menu-page-Quw .frame-22-6WV {
  margin: 0rem 2.5rem 12.45rem 0rem;
  width: 20.4rem;
  height: 5.1rem;
  text-align: right;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #524d4d;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.menu-page-Quw .frame-10-AFT {
  margin-bottom: 12.45rem;
  width: 13.2rem;
  height: 5.1rem;
  text-align: right;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #cd6464;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.menu-page-Quw .menu-page-Quw-bg {
  width: 144rem;
  height: 102.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:120b22304a9ba8fb93040d50a8db285c89eb6ef2');
}
