
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
  align-items: center ;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-14-pro-max-3-bg.png');
}
.iphone-14-pro-max-10-VnR {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  overflow: hidden;

}
.iphone-14-pro-max-10-VnR .relish-rate-and-review-SSm {
  width: 29.1rem;
  height: 9rem;
  position: absolute;
  left: 57.35rem;
  top: 9.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.40625;
  color: #dde02a;
  font-family: Finger Paint, 'Source Sans Pro';
}
.iphone-14-pro-max-10-VnR .frame-45-Xj7 {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 20.7rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-10-VnR .frame-47-pCR {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.9rem;
  height: 12.2rem;
  position: absolute;
  left: 54rem;
  top: 65.1rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-10-VnR .rate-J7b {
  width: 7rem;
  height: 4.5rem;
  position: absolute;
  left: 67.026rem;
  top: 27.0534rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 {
  width: 34.8022rem;
  height: 31.4717rem;
  position: absolute;
  left: 26.5043rem;
  top: 32.2472rem;
  display: flex;
  align-items: center;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .auto-group-95xm-XW9 {
  margin: 4.115rem 14.655rem 11.687rem 0rem;
  box-sizing: border-box;
  padding: 7.629rem 0rem 3.541rem 0.034rem;
  width: 14.8408rem;
  height: calc(100% - 15.8016rem);
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .auto-group-95xm-XW9 .group-27-1w7 {
  width: 100%;
  height: 100%;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 {
  width: 5.3065rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .group-22-7jF {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .group-22-7jF .rectangle-13-gGZ {
  margin: 0rem 2.118rem 0rem 0rem;
  width: 1.5885rem;
  height: 1.7981rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .group-22-7jF .item-5-oc5 {
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj {
  box-sizing: border-box;
  padding: 0.8943rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-30-UCR {
  margin: 0rem 0.1rem 0.894rem 0rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-30-UCR .rectangle-13-1TF {
  margin: 0rem 2.118rem 0rem 0rem;
  width: 1.5885rem;
  height: 1.7981rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-30-UCR .item-4-93f {
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-31-U5w {
  margin: 0rem 0.2rem 0.894rem 0rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-31-U5w .rectangle-13-hzH {
  margin: 0rem 2.118rem 0rem 0rem;
  width: 1.5885rem;
  height: 1.7981rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-31-U5w .item-3-dd3 {
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-32-Zmb {
  margin: 0rem 0.3rem 0.894rem 0rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-32-Zmb .rectangle-13-6mX {
  margin: 0rem 2.118rem 0rem 0rem;
  width: 1.5885rem;
  height: 1.7981rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-32-Zmb .item-2-2v5 {
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-33-Nyw {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-33-Nyw .rectangle-13-jZb {
  margin: 0rem 2.118rem 0rem 0rem;
  width: 1.5885rem;
  height: 1.7981rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .auto-group-9g1f-jVj .group-33-Nyw .item-1-GpR {
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .group-34-pL9 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .group-34-pL9 .rectangle-13-xx9 {
  margin: 0rem 2.118rem 0rem 0rem;
  width: 1.5885rem;
  height: 1.7981rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .auto-group-pypw-oq3 .class1 .group-34-pL9 .item-0-heq {
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6071428571;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-10-VnR .frame-14-eKB{
  padding-left: 37%;
  padding-top: 60%;
}
.iphone-14-pro-max-10-VnR .frame-14-eKB button{
  padding: 10px;
  margin: 10px;
  width: auto;
  font-size: 3rem;
  border-radius: 10px;
  font-family: Finger Paint, 'Source Sans Pro';
  border: none;
  background-color: rgb(241, 83, 83);

} 
