
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
  align-items: center ;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-14-pro-max-5-bg.png');
}.iphone-14-pro-max-5-RiR {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  overflow: hidden;
}
.iphone-14-pro-max-5-RiR .simplify-remove-refresh-3Uu {
  margin: 0rem 0rem 1.8rem 1.9rem;
  max-width: 30.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.40625;
  padding-left: 35%;
  color: #aaad1c;
  font-family: Finger Paint, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX {
  margin: 0rem 11rem 2.3rem 1.3rem;
  width: calc(100% - 12.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-gfqm-dCD {
  margin: 0rem 14.8rem 0.1rem 0rem;
  width: 33.4rem;
  height: 26.7rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy {
  width: 74.5rem;
  height: 26.1rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-35-65o {
  width: 61.2221rem;
  height: 19.2144rem;
  position: absolute;
  left: 1.6223rem;
  top: 4.8534rem;
  display: flex;
  align-items: flex-start;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-35-65o .auto-group-uag9-cK3 {
  margin: 4.379rem 1.428rem 0rem 0rem;
  width: 13.8808rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-35-65o .auto-group-uag9-cK3 .group-22-LF3 {
  margin: 0rem 5.022rem 2.259rem 0.578rem;
  width: calc(100% - 5.6rem);
  display: flex;
  align-items: center;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-35-65o .auto-group-uag9-cK3 .group-22-LF3 .rectangle-13-G8h {
  margin: 0rem 1.281rem 0.288rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-35-65o .auto-group-uag9-cK3 .group-22-LF3 .dish-afB {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-36-6G9 {
  width: 61.5rem;
  height: 19.2144rem;
  position: absolute;
  left: 13rem;
  top: 4.6534rem;
  display: flex;
  align-items: flex-start;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-36-6G9 .auto-group-8y2d-d1B {
  margin: 4.379rem 5.349rem 0rem 0rem;
  width: 15.851rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-36-6G9 .auto-group-8y2d-d1B .group-22-A17 {
  margin: 0rem 0rem 2.259rem 0.8rem;
  width: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-36-6G9 .auto-group-8y2d-d1B .group-22-A17 .rectangle-13-J7K {
  margin-right: 2.2006rem;
  width: 1.6504rem;
  height: 1.7881rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .group-36-6G9 .auto-group-8y2d-d1B .group-22-A17 .category-prM {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.iphone-14-pro-max-5-RiR .auto-group-gnrm-KBX .auto-group-olmo-Ypy .frame-37-KRj {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.3rem;
  height: 5.1rem;
  position: absolute;
  left: 0.2rem;
  top: 17.7rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}

.submission-buttons{
  padding-left: 42%;
}

.submission-buttons button{
  padding: 10px;
  margin: 10px;
  width: auto;
  font-size: 3rem;
  border-radius: 10px;
  font-family: Finger Paint, 'Source Sans Pro';
  border: none;
}

.discard-button button{
  background-color: rgb(241, 83, 83);
}
.remove-button button{
  background-color: #f3f708;
}

button:hover{
  cursor: pointer;
}