
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
  align-items: center ;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-14-pro-max-7-bg.png');
}.iphone-14-pro-max-7-GCy {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  overflow: hidden;
}
.iphone-14-pro-max-7-GCy .craft-your-profile-Baq {
  width: 30.8rem;
  height: 4.5rem;
  position: absolute;
  left: 7.1rem;
  top: 11.5rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.40625;
  color: #aaad1c;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-pro-max-7-GCy .frame-37-Fah {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 19.1rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-7-GCy .frame-38-KqT {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.9rem;
  height: 7.7rem;
  position: absolute;
  left: 54rem;
  top: 25.2rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm {
  width: 84.7rem;
  height: 50.4rem;
  position: absolute;
  left: 5.2rem;
  top: 34.4rem;
  display: flex;
  align-items: flex-end;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .rectangle-13-W9F {
  margin-right: 1rem;
  width: 11.2rem;
  height: 10.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .auto-group-ky5b-S2u {
  margin: 40.1rem 1rem 0rem 0rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .auto-group-ky5b-S2u .rectangle-16-may {
  width: 11.2rem;
  height: 10.3rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .rectangle-15-WYZ {
  margin-right: 13.2rem;
  width: 11.2rem;
  height: 10.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF {
  margin-bottom: 3.3rem;
  width: 35.9rem;
  background-color: #524d4d;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF .cuisine-type-zCq {
  margin: 0rem 0rem 1rem 2rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF .frame-40-JjK {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF .frame-41-cED {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 0 2rem;
  width: 100%;
  height: 8.4rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF .frame-42-5db {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF .frame-43-aqF {
  width: 100%;
  height: 5.1rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF .auto-group-qmbx-HzZ {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 0rem 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF .auto-group-qmbx-HzZ .gallery-pjb {
  margin-bottom: 4.6rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.9565217391;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF .auto-group-qmbx-HzZ .auto-group-6f2h-wpD {
  margin-left: 16.6rem;
  width: 14.9rem;
  height: 3.2rem;
  flex-shrink: 0;
}
