
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
  align-items: center ;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-14-pro-max-7-bg.png');

}.iphone-14-pro-max-7-GCy {
  box-sizing: border-box;
  padding: 5rem 4.5rem 17.05rem 4.5rem;
  width: 100%;
  overflow: hidden;
}
.iphone-14-pro-max-7-GCy .craft-your-profile-Baq{
  font-family: Finger Paint, 'Source Sans Pro';;
  font-size: 35px;
  color: rgb(238, 255, 0);
  padding-left: 35%;

}
.iphone-14-pro-max-7-GCy .frame-37-Fah {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 19.1rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-7-GCy .frame-38-KqT {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 35.9rem;
  height: 7.7rem;
  position: absolute;
  left: 54rem;
  top: 25.2rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2727272727;
  color: #ffffff;
  font-family: Finger Paint, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #524d4d;
  border-radius: 0.8rem;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm {
  width: 84.7rem;
  height: 50.4rem;
  position: absolute;
  left: 5.2rem;
  top: 34.4rem;
  display: flex;
  align-items: flex-end;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .rectangle-13-W9F {
  margin-right: 1rem;
  width: 11.2rem;
  height: 10.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .auto-group-ky5b-S2u {
  margin: 40.1rem 1rem 0rem 0rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .auto-group-ky5b-S2u .rectangle-16-may {
  width: 11.2rem;
  height: 10.3rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .rectangle-15-WYZ {
  margin-right: 13.2rem;
  width: 11.2rem;
  height: 10.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF {
  margin-bottom: 3.3rem;
  width: 35.9rem;
  size: 40px;
  background-color: #524d4d;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.iphone-14-pro-max-7-GCy .auto-group-5e2u-Bcm .frame-39-FFF input{
  background-color: #524d4d ;
}